.text-animation{
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s forwards;
    min-width: 10px;

    
}

.text-animation-hover{
        min-width: 10px;
        display: inline-block;
        animation-fill-mode: forwards;

        &:hover{
        animation: rubberBand 1s;
        color: #fac133;

}
    }

    


@for $i from 1 through 35{
    .text-animation._#{$i}{
        animation-delay: #{$i / 10}s;
    }
}